body { 
    padding-top: 50px; 
}

.container {
    max-width: 900px;
    margin-bottom: 50px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1521798761656-4e74e79120ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38cc294fe605fcf6cbeab1b41835ef74&auto=format&fit=crop&w=1333&q=80");
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    filter: sepia(.4);
}

#one, h3 {
    /*padding-top: 50px;*/
    font-family: 'Amatic SC', cursive;
    font-weight:bold;
}

.dropdown{
    padding: 10px 40px;
}

.teams {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    margin: 25px 25px 25px 25px;
    color: black;
    background-color: #fbf5e9;
    border-bottom-style: dashed;
    border-color: #ad7e1f;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.heightBox{
    height: 100px;
}

a {
    color: white;
    letter-spacing: 1.5px;
}

a:hover {
    color: grey;
}

.fbLogin:hover {
    color: black;
    text-shadow: none;
}

.editTitle{
    padding-top: 40px;
}

.thumbnail {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    border-style: dashed;
    border-color: #ad7e1f;
    padding: 15px;
    margin: 25px 25px 25px 25px;
    color: black;
}

.formContainer{
    border-style: dashed;
    border-color: #ad7e1f;
    margin: 40px 0;
    padding: 40px;
}

.form-control{
    width: 100%;
}

.btnBlue {
    /*background-color: #8b9dc3;*/
    background-color: #3b5998;
}

.btnSmall {
    background-color: transparent;
    border-color: #ccc;
    color: black;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #EF92A5;
  text-decoration: none;
}


.showDiv {
    padding: 20px 0;
}

.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#navBarSearchForm {
    width:430px !important;
}

.buttonCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}