<% include ../partials/header %>

<div class='container'>

    <div><h1 class="display-4 editTitle" id="one">Create an Icebreaker</h1></div>
       
    <form action="/icebreakers" method="POST">
        <div class='formContainer'>
          
    <div class="form-group">
        <label for="exampleFormControlSelect1">Which team is this icebreaker for?</label>
        <select class="form-control" id="icebreaker[team]" name="icebreaker[team]">
        <% teams.forEach(function(team) { %>
            <option value='<%= team._id %>' ><%= team.teamName %></option>
        <% }) %>
        </select>
        <small id="emailHelp" class="form-text text-muted">Don't see your Team? Go to <a style='color:grey;' href='/teams/new'>CREATE TEAM.</a></small>
    </div>
            <div class="form-group">
                <label>Ask your teammates an icebreaker!</label>
                <input type="text" class="form-control" placeholder="Icebreaker question" name="icebreaker[question]" required>
            </div>
            
            <div class="form-group">
                <label for="exampleTextarea">Answer the icebreaker and share a cool story or fact about yourself.</label>
                <textarea class="form-control" id="exampleTextarea" placeholder="Title" name="icebreaker[text]" required rows="3"></textarea>
            </div>
              
            <button type="submit" class="btn btn-primary btnBlue">Submit</button>
        </div>
    </form>
    
    <div><a href='/icebreakers' class="btn btn-primary btnBlue">Index</a></div>

</div>

<% include ../partials/footer %>